name: "Build and Test"

on: "push"

jobs:
  build-and-test:
    runs-on: "ubuntu-latest"
    env:
      CARGO_TERM_COLOR: "always"
      LLVM_PATH: "./llvm"
      LLVM_SYS_170_PREFIX: "${{ env.LLVM_PATH }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v4"

      - name: "Install LLVM and Clang"
        uses: "KyleMayes/install-llvm-action@v2"
        with:
          version: "17.0"
          directory: "${{ env.LLVM_PATH }}"

      - name: "Cache build artifacts"
        uses: "Swatinem/rust-cache@v2"

      - name: "Clippy"
        run: cargo clippy --verbose

      - name: "Build"
        run: cargo build --verbose

      - name: "Test"
        run: cargo test --verbose
