name: "Build and Test"

on: "push"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build-and-test:
    env:
      RUSTFLAGS: "-Dwarnings"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Install LLVM and Clang"
        uses: "KyleMayes/install-llvm-action@v2"
        with:
          version: "17.0"

      - name: "Checkout code"
        uses: "actions/checkout@v4"

      - name: "Cache build artifacts"
        uses: "Swatinem/rust-cache@v2"

      - name: "Build and test"
        run: |
          tree $LLVM_PATH
          cargo clippy
          cargo test
        env:
          LLVM_SYS_170_PREFIX: "${{ env.LLVM_PATH }}"
